header {
    margin: 0 auto;
    max-width: 1032px;


    .nav {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 70px;


        &__list {
            display: flex;
            column-gap: 33px;
            list-style-type: none;

            &--item {

                &-link {
                    text-decoration: none;
                    color: black;
                    font-family: 'Heebo';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 29px;
                    text-align: right;

                    &:hover {
                        color: #333;
                        transform: all 0.3s ease;
                    }
                }
            }
        }
    }
}